<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/test.js') }}"></script>
    <title> Expert Home page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="imgclass">
        <img src="{{ url_for('static', filename='images/Untitled design.png') }}" height="550" width="100%">
    </div>
    <div class="headfloat">
        <h1>Acrom</h1>
        <h3>Welcome {{g.user.username}}</h3>
    </div>
    
{% block body %}
    
{% endblock body %}
</body>

</html>