<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add question</title>
</head>
<body style="background-color:white">
<div class="imgclass">
    <img src="{{ url_for('static', filename='images/Untitled design.png') }}" height="550" width="100%">
</div>
<div class="headfloat">
    <h1>Acrom</h1>
</div>
<br><br><br>
<p style="text-align: center;font-size:50px;background: linear-gradient(
        to right, #6b21f3, #085eff,
         #237ccf, #00c3ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;font-family:'Jetbrains Momo'">
        ADD QUESTION
</p>
<br>
<p style="text-align: center;font-size:30px;background: linear-gradient(
        to right, #6b21f3, #085eff,
         #237ccf, #00c3ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;font-family:'Jetbrains Momo'">
    
</p>
<br><br>
<div class="box">
    <form method="POST">
        
      <label for="query"> <p style="font-size:20px;background: linear-gradient(
        to right, #6b21f3, #085eff,
         #237ccf, #00c3ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;">
        Query
    </p></label>
        <textarea id="query" name="query" placeholder="Your query" required></textarea>
        <button class="button" type="submit" >
            Done
    </button>
</div>



</form>
</body>
</html>
